:root{
  --red: red;
}

body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #838383;
}

.container{
  width: 80%;
  margin: auto;
}

.btn {
  height: 40px;
  width: 150px; 
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  color: white;
  text-align: center;
  background-color: var(--red);
}

.row-column{
  display: flex;
  flex-direction: column;
}
.row{
  display: flex;
  justify-content: space-between;
}

.row-item{
  width: 48%;

}

.input{
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  padding-left: 10px;
}

.footerMain{
  height: 150px;
  background-color: #f2f2f2;
  margin-top:80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} 

.copyRights{
  font-size: 15px;
  font-weight: 300;
  margin-top: 20px;
}

.custom-file-upload{ 
  width: 120px;
  height: 40px;
    cursor: pointer;
    background-color: var(--red);
    color: white; 
    text-align: center; 
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-item {
  background-color: #f7f7f7;
  border: 1px solid #b9b2b2cc;
  text-align: center;
  margin: 15px;
  height: 513px;
  border-radius: 7px;
  box-sizing: border-box;
  
}
.grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(277.67px, 277.67px));
 
  justify-content: center;
  align-items: center;
}

.mg-15{
  margin:15px;
}

.mg-10{
  margin: 0px 10px ;
}

.active{
  background-color: var(--red);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  text-align: center;
  color: white;

}

.font-Bold {
  font-weight: 700;
}

.w-100{
  width: 100%;
}

.error{
  color:var(--red);
}